@use './input_container.scss';
@use '../utils/variables';
@use './output_container.scss';
@use '../utils/mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: 'Outfit', sans-serif;
    user-select: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-image: url('../assets/img/noah-silliman-WQo7FmqQBpo-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    filter: invert(1);
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.options {
    color: variables.$font;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    align-items: center;

    .unitToggle {
        background-color: wheat;
        cursor: pointer;
        border-radius: 20px;
        border: none;
        padding: 15px 30px;
        position: relative;
        transition: background-color 0.5s;

        .circle {
            padding: 15px;
            border-radius: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background-color: white;
            transition: transform 0.5s;

            &.clicked {
                transform: translateX(-30px);
            }
        }
    }
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: variables.$font;

    * {
        color: inherit;
    }
}

.container {
    @include mixins.opaque_container();
    backdrop-filter: blur(5px);
    min-height: 800px;
    height: 70%;
    min-width: 900px;
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto 1fr;
    gap: 20px;
    color: variables.$font-secondary;
}

.status-msg {
    color: variables.$font;
    @include mixins.self-center();
    position: absolute;
    opacity: 1;
    transition: opacity 1s;
    font-size: 2rem;
}

.fadeout {
    opacity: 0;
}
