:root {
    --font: rgb(255, 255, 255);
    --font-secondary: rgb(37, 37, 37);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: 'Outfit', sans-serif;
    user-select: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-image: url('../assets/img/noah-silliman-WQo7FmqQBpo-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    filter: invert(1);
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: var(--font);
}

footer * {
    color: var(--font);
}

.container {
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    min-height: 800px;
    height: 70%;
    width: 900px;
    margin: 50px auto 0 auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 20px;
    color: var(--font-secondary);
}

.input-container {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 40px;
    overflow: hidden;
    background-color: white;
    transition: 0.5s;
    opacity: 0.3;
}

.input-container input {
    border: none;
    font-size: 2rem;
    padding: 10px 40px;
    background: none;
}

.input-container input:focus {
    outline: none;
}

.input-container input[type='text'] {
    color: var(--font-secondary);
}

.input-container.focused {
    transform: scale(1.04);
    opacity: 1;
}

/* Output Container */
.output-container {
    grid-column: span 2;
    display: grid;
    grid-template-areas:
        'temp general'
        'icon sunrise'
        'icon sunset';
    text-align: right;
    color: var(--font);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 1s;
}

.general {
    grid-area: general;
    align-self: center;
}

.general h1 {
    font-size: 7rem;
}

.general p {
    font-size: 1.9rem;
}

.temperature {
    grid-area: temp;
    font-size: 13rem;
    align-self: center;
    justify-self: center;
}

.weather-icon {
    grid-area: icon;
    height: 15rem;
    justify-self: center;
    align-self: center;
}

/* Sunrise and Sunset Style */
.sunrise {
    grid-area: sunrise;
}

.sunset {
    grid-area: sunset;
}

.suntime {
    padding: 20px;
    display: grid;
    grid-template-areas:
        'a b'
        'a c';
    align-items: center;
    justify-items: end;
}

.suntime img {
    grid-area: a;
    height: 80px;
}

/* Time */
.suntime p {
    grid-area: c;
    text-align: right;
    font-size: 2rem;
}

/*  */

.fadeout {
    opacity: 0;
}
